@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.theme-transition-enter {
  opacity: 0;
}

.theme-transition-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.theme-transition-leave {
  opacity: 1;
}

.theme-transition-leave-active {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
